name: deployment test
on: workflow_dispatch # Find all trigger events here: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get code